/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 oct. 2022, 12:33:17
    Author     : Oumayma Gaiech
*/



.trans-btn-white-border{
    -fx-background-color:#cfcad9;
    -fx-border-color: #ffffff;
    -fx-border-radius: 50px;
        
}
.button-creer-compte{
    -fx-background-color:#7e8de6;
    -fx-border-radius: 50px;
    -fx-border-color: #7e8de6;
   
    
    
}
